In [1]:
import pandas as pd
import psycopg2
import plotly.express as px
import json
import requests

In [2]:
#dataframe creation

#sql connection
mydb=psycopg2.connect(host="127.0.0.1",
                user="postgres",
                password="hari",
                port="5432",
                database="phonephedata")

cursor=mydb.cursor()

#agg insurance df

cursor.execute("SELECT * FROM aggregated_insurance")
mydb.commit()
table1=cursor.fetchall()

Agg_insurance=pd.DataFrame(table1,columns=("States","Years","Quarters","Transaction_type","Transaction_count","Transaction_amount"))

#agg transa df

cursor.execute("SELECT * FROM aggregated_transaction")
mydb.commit()
table2=cursor.fetchall()

Agg_transaction=pd.DataFrame(table2,columns=("States","Years","Quarters","Transaction_type","Transaction_count","Transaction_amount"))

#agg user df

cursor.execute("SELECT * FROM aggregated_user")
mydb.commit()
table3=cursor.fetchall() 

Agg_user=pd.DataFrame(table3,columns=("States","Years","Quarters","Brands","Transaction_count","Percentage"))

#map user df

cursor.execute("SELECT * FROM map_user")
mydb.commit()
table4=cursor.fetchall() 

Map_user=pd.DataFrame(table4,columns=("States","Years","Quarters","District","RegisteredUsers","AppOpens"))

#map insurance df

cursor.execute("SELECT * FROM map_insurance")
mydb.commit()
table5=cursor.fetchall()

Map_insurance=pd.DataFrame(table5,columns=("States","Years","Quarters","District","Transaction_count","Transaction_amount"))

#map transa df

cursor.execute("SELECT * FROM map_transaction")
mydb.commit()
table6=cursor.fetchall()

Map_transaction=pd.DataFrame(table6,columns=("States","Years","Quarters","District","Transaction_count","Transaction_amount"))

#top insurance df

cursor.execute("SELECT * FROM top_insurance")
mydb.commit()
table7=cursor.fetchall()

Top_insurance=pd.DataFrame(table7,columns=("States","Years","Quarters","Pincode","Transaction_count","Transaction_amount"))

#top transa df

cursor.execute("SELECT * FROM top_transaction")
mydb.commit()
table8=cursor.fetchall()

Top_transaction=pd.DataFrame(table8,columns=("States","Years","Quarters","Pincode","Transaction_count","Transaction_amount"))

#top user df

cursor.execute("SELECT * FROM top_user")
mydb.commit()
table9=cursor.fetchall()

Top_user=pd.DataFrame(table9,columns=("States","Years","Quarters","Pincode","RegisteredUsers"))

In [332]:
#getting data from sql    
def Top_Chart_Transaction_Amount(table_name):
        #sql connection
        mydb=psycopg2.connect(host="127.0.0.1",
                        user="postgres",
                        password="hari",
                        port="5432",
                        database="phonephedata")
        cursor=mydb.cursor()

        #plot 1 TOP 10 order
        query1=f'''SELECT states, SUM(transaction_amount) AS transaction_amount 
                FROM {table_name}
                GROUP BY states
                order by transaction_amount desc
                limit 10;'''
                
        cursor.execute(query1)
        table1=cursor.fetchall()
        mydb.commit()

        df1=pd.DataFrame(table1,columns=("states","transaction_amount"))

        fig_amount1=px.bar(df1,x="states",y="transaction_amount",title="TOP 10 VALUES OF STATES VS TRANSACTION AMOUNT ",hover_name="states",
                        color_discrete_sequence=px.colors.sequential.Oranges_r,height=650,width=600)
        fig_amount1.show()

        #plot 2 LEAT 10 order
        query2=f'''SELECT states, SUM(transaction_amount) AS transaction_amount 
                FROM {table_name}
                GROUP BY states
                order by transaction_amount
                limit 10;'''
                
        cursor.execute(query2)
        table2=cursor.fetchall()
        mydb.commit()

        df2=pd.DataFrame(table2,columns=("states","transaction_amount"))

        fig_amount2=px.bar(df2,x="states",y="transaction_amount",title=" LAST 10 VALUES OF STATES VS TRANSACTION AMOUNT ",hover_name="states",
                        color_discrete_sequence=px.colors.sequential.haline_r,height=650,width=600)
        fig_amount2.show()


        #plot 3 avg 
        query3=f'''SELECT states, AVG(transaction_amount) AS avg_transaction_amount 
                FROM {table_name}
                GROUP BY states
                order by avg_transaction_amount;'''
                
        cursor.execute(query3)
        table3=cursor.fetchall()
        mydb.commit()

        df3=pd.DataFrame(table3,columns=("states","avg_transaction_amount"))

        fig_amount3=px.bar(df3,y="states",x="avg_transaction_amount",title=" AVERAGE VALUES OF  STATES VS TRANSACTION AMOUNT ",hover_name="states",orientation='h',
                        color_discrete_sequence=px.colors.sequential.Redor_r,height=650,width=600)
        fig_amount3.show()

In [335]:
#getting data from sql        
def Top_Chart_Transaction_Count(table_name):
        #sql connection
        mydb=psycopg2.connect(host="127.0.0.1",
                        user="postgres",
                        password="hari",
                        port="5432",
                        database="phonephedata")
        cursor=mydb.cursor()

        #plot 1 TOP 10 order
        query1=f'''SELECT states, SUM(transaction_count) AS transaction_count 
                FROM {table_name}
                GROUP BY states
                order by transaction_count desc
                limit 10;'''
                
        cursor.execute(query1)
        table1=cursor.fetchall()
        mydb.commit()

        df1=pd.DataFrame(table1,columns=("states","transaction_count"))

        fig_amount1=px.bar(df1,x="states",y="transaction_count",title="TOP 10 VALUES OF STATES VS TRANSACTION COUNT ",hover_name="states",
                        color_discrete_sequence=px.colors.sequential.Oranges_r,height=650,width=600)
        fig_amount1.show()

        #plot 2 LEATS 10 order
        query2=f'''SELECT states, SUM(transaction_count) AS transaction_count 
                FROM {table_name}
                GROUP BY states
                order by transaction_count
                limit 10;'''
                
        cursor.execute(query2)
        table2=cursor.fetchall()
        mydb.commit()

        df2=pd.DataFrame(table2,columns=("states","transaction_count"))

        fig_amount2=px.bar(df2,x="states",y="transaction_count",title=" LAST 10 VALUES OF STATES VS TRANSACTION COUNT ",hover_name="states",
                        color_discrete_sequence=px.colors.sequential.haline_r,height=650,width=600)
        fig_amount2.show()


        #plot 3 avg 
        query3=f'''SELECT states, AVG(transaction_count) AS avg_transaction_count 
                FROM {table_name}
                GROUP BY states
                order by avg_transaction_count;'''
                
        cursor.execute(query3)
        table3=cursor.fetchall()
        mydb.commit()

        df3=pd.DataFrame(table3,columns=("states","avg_transaction_count"))

        fig_amount3=px.bar(df3,y="states",x="avg_transaction_count",title=" AVERAGE VALUES OF  STATES VS TRANSACTION COUNT ",hover_name="states",orientation='h',
                        color_discrete_sequence=px.colors.sequential.Redor_r,height=650,width=600)
        fig_amount3.show()

In [349]:
#getting data from sql
def Top_Chart_RegisteredUsers(table_name,state):
    mydb=psycopg2.connect(host="127.0.0.1",
                        user="postgres",
                        password="hari",
                        port="5432",
                        database="phonephedata")
    cursor=mydb.cursor()

    #plot_1 top 10 
    query1= f'''SELECT districts, SUM(registeredusers) AS registeredusers
                FROM {table_name}
                WHERE states= '{state}'
                GROUP BY districts
                ORDER BY registeredusers DESC
                LIMIT 10;'''

    cursor.execute(query1)
    table1= cursor.fetchall()
    mydb.commit()

    df1= pd.DataFrame(table1, columns=("districts", "registeredusers"))


    fig_ru1= px.bar(df1, x="districts", y="registeredusers", title="TOP 10 VALUES OF DISTRICTS VS REGISTERED USER", hover_name= "districts",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl, height= 650,width= 600)
    fig_ru1.show()

    #plot2 least 10 values
    query2= f'''SELECT districts, SUM(registeredusers) AS registeredusers
                FROM {table_name}
                WHERE states= '{state}'
                GROUP BY districts
                ORDER BY registeredusers 
                LIMIT 10;'''

    cursor.execute(query2)
    table2= cursor.fetchall()
    mydb.commit()

    df2= pd.DataFrame(table2, columns=("districts", "registeredusers"))


    fig_ru2= px.bar(df2, x="districts", y="registeredusers", title="LEAST 10 VALUES OF DISTRICTS VS REGISTERED USER", hover_name= "districts",
                        color_discrete_sequence=px.colors.sequential.Rainbow_r, height= 650,width= 600)
    fig_ru2.show()

    #plot 3 avg values
    query3= f'''SELECT districts, AVG(registeredusers) AS avg_registeredusers
                FROM {table_name}
                WHERE states='{state}'
                GROUP BY districts
                ORDER BY avg_registeredusers 
                LIMIT 10;'''

    cursor.execute(query3)
    table3= cursor.fetchall()
    mydb.commit()

    df3= pd.DataFrame(table3, columns=("districts", "avg_registeredusers"))


    fig_ru3= px.bar(df3, y="districts", x="avg_registeredusers", title="AVG VALUES OF DISTRICTS VS REGISTERED USER",orientation='h' ,hover_name= "districts",
                        color_discrete_sequence=px.colors.sequential.Rainbow_r, height= 650,width= 600)
    fig_ru3.show()

In [362]:
#sql connection
def Top_Chart_Appopens(table_name, state):
    mydb=psycopg2.connect(host="127.0.0.1",
                        user="postgres",
                        password="hari",
                        port="5432",
                        database="phonephedata")
    cursor=mydb.cursor()

    #plot_1 TOP 10 
    query1= f'''SELECT districts, SUM(appopens) AS appopens
                FROM {table_name}
                WHERE states= '{state}'
                GROUP BY districts
                ORDER BY appopens DESC
                LIMIT 10;'''

    cursor.execute(query1)
    table1= cursor.fetchall()
    mydb.commit()

    df1= pd.DataFrame(table1, columns=("districts", "appopens"))


    fig_apo= px.bar(df1, x="districts", y="appopens", title="TOP 10 VALUES OF APPOPENS VS DISTRICTS ", hover_name= "districts",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl, height= 650,width= 600)
    fig_apo.show()

    #plot_2 LEAST 10
    query2= f'''SELECT districts, SUM(appopens) AS appopens
                FROM {table_name}
                WHERE states= '{state}'
                GROUP BY districts
                ORDER BY appopens
                LIMIT 10;'''

    cursor.execute(query2)
    table2= cursor.fetchall()
    mydb.commit()

    df2= pd.DataFrame(table2, columns=("districts", "appopens"))

    

    fig_apo2= px.bar(df2, x="districts", y="appopens", title="LAST 10 VALUES OF APPOPENS VS DISTRICTS", hover_name= "districts",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl_r, height= 650,width= 600)
    fig_apo2.show()

    #plot_3
    query3= f'''SELECT districts, AVG(appopens) AS avg_appopens
                FROM {table_name}
                WHERE states= '{state}'
                GROUP BY districts
                ORDER BY avg_appopens;'''

    cursor.execute(query3)
    table3= cursor.fetchall()
    mydb.commit()

    df3= pd.DataFrame(table3, columns=("districts", "avg_appopens"))

    fig_apo3= px.bar(df3, y="districts", x="avg_appopens", title="AVERAGE VALUES OF APPOPENS VS DISTRICTS", hover_name= "districts", orientation= "h",
                        color_discrete_sequence=px.colors.sequential.Bluered_r, height= 800,width= 1000)
    fig_apo3.show()

In [ ]:
Top_Chart_Appopens("map_user","West Bengal")

In [358]:
#getting data from sql
def Top_Chart_RegisteredUsers(table_name):
    mydb=psycopg2.connect(host="127.0.0.1",
                        user="postgres",
                        password="hari",
                        port="5432",
                        database="phonephedata")
    cursor=mydb.cursor()

    #plot_1 top 10 
    query1= f'''SELECT states, SUM(registeredusers) AS registeredusers
                FROM {table_name}
                GROUP BY states
                ORDER BY registeredusers DESC
                LIMIT 10;'''

    cursor.execute(query1)
    table1= cursor.fetchall()
    mydb.commit()

    df1= pd.DataFrame(table1, columns=("states", "registeredusers"))


    fig_ru1= px.bar(df1, x="states", y="registeredusers", title="TOP 10 VALUES OF STATES VS REGISTERED USER", hover_name= "states",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl, height= 650,width= 600)
    fig_ru1.show()

    #plot2 least 10 values
    query2= f'''SELECT states, SUM(registeredusers) AS registeredusers
                FROM {table_name}
                GROUP BY states
                ORDER BY registeredusers 
                LIMIT 10;'''

    cursor.execute(query2)
    table2= cursor.fetchall()
    mydb.commit()

    df2= pd.DataFrame(table2, columns=("states", "registeredusers"))


    fig_ru2= px.bar(df2, x="states", y="registeredusers", title="LEAST 10 VALUES OF STATES VS REGISTERED USER", hover_name= "states",
                        color_discrete_sequence=px.colors.sequential.Rainbow_r, height= 650,width= 600)
    fig_ru2.show()

    #plot 3 avg values
    query3= f'''SELECT states, AVG(registeredusers) AS avg_registeredusers
                FROM {table_name}
                GROUP BY states
                ORDER BY avg_registeredusers 
                LIMIT 10;'''

    cursor.execute(query3)
    table3= cursor.fetchall()
    mydb.commit()

    df3= pd.DataFrame(table3, columns=("states", "avg_registeredusers"))


    fig_ru3= px.bar(df3, y="states", x="avg_registeredusers", title="AVG VALUES OF STATES VS REGISTERED USER",orientation='h' ,hover_name= "states",
                        color_discrete_sequence=px.colors.sequential.Rainbow_r, height= 650,width= 600)
    fig_ru3.show()

In [127]:
#transaction analysis based on years
def Transaction_amount_count_Y(df,year):
    tacy= df[df["Years"]==year]
    tacy.reset_index(drop=True,inplace=True)

    tacyg=tacy.groupby("States")[["Transaction_count","Transaction_amount"]].sum()
    tacyg.reset_index(inplace=True)

    fig_amount=px.bar(tacyg,x="States",y="Transaction_amount",title=f"{year} TRANSACTION AMOUNT",
                    color_discrete_sequence=px.colors.sequential.Oranges_r,height=650,width=600)
    fig_amount.show()

    fig_count=px.bar(tacyg,x="States",y="Transaction_count",title=f"{year} TRANSACTION COUNT",
                    color_discrete_sequence=px.colors.sequential.YlGnBu_r,height=650,width=600)
    fig_count.show()
    
    url="https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"
    response=requests.get(url)
    data1=json.loads(response.content)
    states_name=[]
    for feature in data1["features"]:
        states_name.append(feature["properties"]["ST_NM"])
    states_name.sort()
        
    fig_india_1=px.choropleth(tacyg,geojson=data1, locations="States",featureidkey="properties.ST_NM",
                                color="Transaction_amount",color_continuous_scale="twilight",
                                range_color= (tacyg["Transaction_amount"].min(), tacyg["Transaction_amount"].max()),
                                hover_name="States", title= f"{year} TRANSACTION AMOUNT", fitbounds="locations",
                                height=600,width=600)
    fig_india_1.update_geos(visible=False)
    fig_india_1.show()
    
    fig_india_2=px.choropleth(tacyg,geojson=data1, locations="States",featureidkey="properties.ST_NM",
                                color="Transaction_count",color_continuous_scale="twilight",
                                range_color= (tacyg["Transaction_count"].min(), tacyg["Transaction_count"].max()),
                                hover_name="States", title= f"{year} TRANSACTION COUNT", fitbounds="locations",
                                height=600,width=600)
    fig_india_2.update_geos(visible=False)
    fig_india_2.show()
    
    return tacy

In [129]:
#transaction analysis based on quarters
def Transaction_amount_count_Y_Q(df,quarter):
    tacy= df[df["Quarters"]==quarter]
    tacy.reset_index(drop=True,inplace=True)

    tacyg=tacy.groupby("States")[["Transaction_count","Transaction_amount"]].sum()
    tacyg.reset_index(inplace=True)


    fig_amount=px.bar(tacyg,x="States",y="Transaction_amount",title=f"{tacy['Years'].unique()[0]} YEAR {quarter} QUARTER TRANSACTION AMOUNT",
                    color_discrete_sequence=px.colors.sequential.Oranges_r,height=650,width=600)
    fig_amount.show()

    fig_count=px.bar(tacyg,x="States",y="Transaction_count",title=f"{tacy['Years'].unique()[0]} YEAR {quarter} QUARTER TRANSACTION COUNT",
                    color_discrete_sequence=px.colors.sequential.YlGnBu_r,height=650,width=600)
    fig_count.show()
    
    url="https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"
    response=requests.get(url)
    data1=json.loads(response.content)
    states_name=[]
    for feature in data1["features"]:
        states_name.append(feature["properties"]["ST_NM"])
    states_name.sort()
        
    fig_india_1=px.choropleth(tacyg,geojson=data1, locations="States",featureidkey="properties.ST_NM",
                                color="Transaction_amount",color_continuous_scale="twilight",
                                range_color= (tacyg["Transaction_amount"].min(), tacyg["Transaction_amount"].max()),
                                hover_name="States", title= f"{tacy['Years'].unique()[0]} YEAR {quarter} QUARTER TRANSACTION AMOUNT", fitbounds="locations",
                                height=600,width=600)
    fig_india_1.update_geos(visible=False)
    fig_india_1.show()
    
    fig_india_2=px.choropleth(tacyg,geojson=data1, locations="States",featureidkey="properties.ST_NM",
                                color="Transaction_count",color_continuous_scale="twilight",
                                range_color= (tacyg["Transaction_count"].min(), tacyg["Transaction_count"].max()),
                                hover_name="States", title= f"{tacy['Years'].unique()[0]} YEAR {quarter} QUARTER TRANSACTION COUNT", fitbounds="locations",
                                height=600,width=600)
    fig_india_2.update_geos(visible=False)
    fig_india_2.show()
    
    return tacy

In [153]:
#transaction type
def Agg_Trans_Transaction_type(df,state):

    tacy= df[df["States"]==state]
    tacy.reset_index(drop=True,inplace=True)

    tacyg=tacy.groupby("Transaction_type")[["Transaction_count","Transaction_amount"]].sum()
    tacyg.reset_index(inplace=True)

    fig_pie1=px.pie(data_frame=tacyg,names= "Transaction_type",values="Transaction_amount",
                width=600,title=f"{state.upper()} TRANSACTION AMOUNT",hole=0.4)
    fig_pie1.show()

    fig_pie2=px.pie(data_frame=tacyg,names= "Transaction_type",values="Transaction_count",
                width=600,title=f"{state.upper()} TRANSACTION COUNT",hole=0.4)
    fig_pie2.show()

In [131]:
#Agg user analysis1
def Agg_Uer_Plot1(df,year):
    aguy=df[df["Years"]==year]
    aguy.reset_index(drop=True,inplace=True)
    aguyg=pd.DataFrame(aguy.groupby("Brands")["Transaction_count"].sum())
    aguyg.reset_index(inplace=True)

    fig_bar1=px.bar(aguyg,x="Brands",y="Transaction_count",title=f"{year} th BRANDS AND TRANSACTION COUNT",
                    width=1100,color_discrete_sequence=px.colors.sequential.Oranges_r, hover_name="Brands")
    fig_bar1.show()
    
    return aguy

In [132]:
## Agg user analysis 2
def Agg_User_Plot2(df,quarter):
    aguyq=df[df["Quarters"]==quarter]
    aguyq.reset_index(drop=True,inplace=True)
    aguyqg=pd.DataFrame(aguyq.groupby("Brands")["Transaction_count"].sum())
    aguyqg.reset_index(inplace=True)

    fig_bar1=px.bar(aguyqg,x="Brands",y="Transaction_count",title=f"{quarter} QUARTER BRANDS AND TRANSACTION COUNT",
                        width=1100,color_discrete_sequence=px.colors.sequential.Oranges_r, hover_name="Brands")
    fig_bar1.show()
    
    return aguyq

In [212]:
#Agg user analysis 3
def Agg_User_Plot3(df,state):
    auyqs=df[df["States"]==state]
    auyqs.reset_index(drop=True,inplace=True)

    fig_line_1=px.line(auyqs,x="Brands",y="Transaction_count",hover_data=["Percentage"],
                        title= f"{state.upper()} BRANDS VS PERCENTAGE & TRANSACTION COUNT",color_discrete_sequence=px.colors.sequential.Viridis_r,
                        width=1000,markers=True)
    fig_line_1.show()

In [ ]:
#map insurance district 
def Map_Insur_District(df,state):

    tacy= df[df["States"]==state]
    tacy.reset_index(drop=True,inplace=True)

    tacyg=tacy.groupby("District")[["Transaction_count","Transaction_amount"]].sum()
    tacyg.reset_index(inplace=True)

    fig_bar1=px.bar(tacyg, x="Transaction_amount",y="District", orientation="h",
                    title= f"{state.upper()} DISTRICT VS TRANSACTON AMOUNT",color_discrete_sequence=px.colors.sequential.Rainbow_r)
    fig_bar1.show()

    fig_bar2=px.bar(tacyg, x="Transaction_count",y="District", orientation="h",
                    title= f"{state.upper()} DISTRICT VS TRANSACTON COUNT",color_discrete_sequence=px.colors.sequential.Greens_r)
    fig_bar2.show()

In [225]:
#map user plot1 
def Map_User_plot1(df,year):
    muy=df[df["Years"]==year]
    muy.reset_index(drop=True,inplace=True)
    muyg=muy.groupby("States")[["RegisteredUsers","AppOpens"]].sum()
    muyg.reset_index(inplace=True)

    fig_line_1=px.line(muyg,x="States",y=["RegisteredUsers","AppOpens"],
                            title=f"{year} STATE VS REGISTERED USERS & APP OPENS",color_discrete_sequence=px.colors.sequential.Viridis_r,
                            width=1000,height=800,markers=True)
    fig_line_1.show()
    
    return muy

In [238]:
#map user plot2 
def Map_User_plot2(df,quarter):
    muyq=df[df["Quarters"]==quarter]
    muyq.reset_index(drop=True,inplace=True)
    muyqg=muyq.groupby("States")[["RegisteredUsers","AppOpens"]].sum()
    muyqg.reset_index(inplace=True)

    fig_line_1=px.line(muyqg,x="States",y=["RegisteredUsers","AppOpens"],
                            title=f"{df['Years'].min()} YEAR {quarter} QUARTER STATE VS REGISTERED USERS & APP OPENS",color_discrete_sequence=px.colors.sequential.Viridis_r,
                            width=1000,height=800,markers=True)
    fig_line_1.show()
    
    return muyq

In [249]:
#Map user plot 3
def Map_User_plot3(df,state):
    muyqs=df[df["States"]==state]
    muyqs.reset_index(drop=True,inplace=True)

    fig_map_userbar1=px.bar(muyqs,x="RegisteredUsers",y="District",orientation="h",title="REGISTERED USERS VS DISTRICT",
                            height=800,color_discrete_sequence=px.colors.sequential.Greens_r)
    fig_map_userbar1.show()

    fig_map_userbar2=px.bar(muyqs,x="AppOpens",y="District",orientation="h",title="APP OPENS VS DISTRICT",
                            height=800,color_discrete_sequence=px.colors.sequential.Reds_r)
    fig_map_userbar2.show()

In [275]:
# top insurance plot 1
def Top_Insurance_plot1(df,state):   
    tiy=df[df["States"]==state]
    tiy.reset_index(drop=True,inplace=True)

    fig_top_insurbar1=px.bar(tiy,x="Quarters",y="Transaction_amount", hover_data=["Pincode"],title="TRANSACTION AMOUNT VS PINCODE",
                                height=800,color_discrete_sequence=px.colors.sequential.Greens_r)
    fig_top_insurbar1.show()
    
    fig_top_insurbar2=px.bar(tiy,x="Quarters",y="Transaction_count", hover_data=["Pincode"],title="TRANSACTION COUNT VS PINCODE",
                                height=800,color_discrete_sequence=px.colors.sequential.Greens_r)
    fig_top_insurbar2.show()

In [ ]:
#top user plot1
def Top_User_plot1(df,year):
    tuy=df[df["Years"]==year]
    tuy.reset_index(drop=True,inplace=True)
    tuyg=pd.DataFrame(tuy.groupby(["States","Quarters"])["RegisteredUsers"].sum())
    tuyg.reset_index(inplace=True)


    fig_top_plot1=px.bar(tuyg,x="States",y="RegisteredUsers", color="Quarters",title=f"{year} YEAR STATES VS REGISTERED USERS",
                                height=800,width=600,color_discrete_sequence=px.colors.sequential.Greens_r,hover_name="States")
    fig_top_plot1.show()
    
    return tuy

In [302]:
#Top user plot 2   
def Top_User_plot2(df,state):
    tuys=df[df["States"]==state]
    tuys.reset_index(drop=True,inplace=True)

    fig_top_plot2=px.bar(tuys,x="Quarters",y="RegisteredUsers",title="REGISTERED USERS, PINCODES VS QUATERS",
                                    height=800,width=600,color="RegisteredUsers",color_continuous_scale=px.colors.sequential.Emrld_r,hover_data=["Pincode"])
    fig_top_plot2.show()

## Aggreated Insurance

In [ ]:
tac_Y=Transaction_amount_count_Y(Agg_insurance,2021)

In [ ]:
Transaction_amount_count_Y_Q(tac_Y,3)

## Aggregated Transaction

In [ ]:
Agg_tran_tac_Y=Transaction_amount_count_Y(Agg_transaction,2018)

In [ ]:
Agg_Trans_Transaction_type(Agg_tran_tac_Y,'Tamil Nadu')

In [ ]:
Agg_tran_tac_Y_Q=Transaction_amount_count_Y_Q(Agg_tran_tac_Y,3)

In [ ]:
Agg_Trans_Transaction_type(Agg_tran_tac_Y_Q,'Tamil Nadu')

## Aggregated User

In [ ]:
Agg_User_Y=Agg_Uer_Plot1(Agg_user,2020)

In [ ]:
Agg_User_Y_Q=Agg_User_Plot2(Agg_User_Y,2)

In [ ]:
Agg_User_Plot3(Agg_User_Y_Q,"Tamil Nadu")

## Map Insurance

In [ ]:
Map_Insur_tac_Y=Transaction_amount_count_Y(Map_insurance,2022)

In [ ]:
Map_Insur_District(Map_Insur_tac_Y,'West Bengal')

In [ ]:
Map_Insur_tac_Y_Q=Transaction_amount_count_Y_Q(Map_Insur_tac_Y,3)

In [ ]:
Map_Insur_District(Map_Insur_tac_Y_Q,'Tamil Nadu')

## Map Transaction

In [ ]:
Map_Trans_tac_Y=Transaction_amount_count_Y(Map_transaction,2018)

In [ ]:
Map_Insur_District(Map_Trans_tac_Y,'West Bengal')

In [ ]:
Map_Trans_tac_Y_Q=Transaction_amount_count_Y_Q(Map_Trans_tac_Y,3)

In [ ]:
Map_Insur_District(Map_Trans_tac_Y_Q,'Tamil Nadu')

## Map User

In [ ]:
Map_User_Y=Map_User_plot1(Map_user,2020)

In [ ]:
Map_User_Y_Q=Map_User_plot2(Map_User_Y,2)

In [ ]:
Map_User_plot3(Map_User_Y_Q,"Tamil Nadu")

## Top Insurance

In [ ]:
Top_Insur_tac_Y=Transaction_amount_count_Y(Top_insurance,2022)

In [ ]:
Top_Insurance_plot1(Top_Insur_tac_Y,"West Bengal")

In [ ]:
Top_Insur_tac_Y_Q=Transaction_amount_count_Y_Q(Top_Insur_tac_Y,3)

## Top Transaction

In [ ]:
Top_Trans_tac_Y=Transaction_amount_count_Y(Top_transaction,2022)

In [ ]:
Top_Insurance_plot1(Top_Trans_tac_Y,"West Bengal")

In [ ]:
Top_Trans_tac_Y_Q=Transaction_amount_count_Y_Q(Top_Trans_tac_Y,3)

## Top User

In [ ]:
Top_User_Y=Top_User_plot1(Top_user,2021)

In [ ]:
Top_User_plot2(Top_User_Y,"West Bengal")